# PERSONAL DATA FOLDER
data/

# PYTHON
utils/__pycache__/
models/__pycache__/

# MODELS
results/
results_*/
*results*/

amostra_base_horizontal.png
anonymous-metadata.csv
avaliacoes_derm/
comparativo_crop.png
dados_base.ipynb
imagens_selecionadas.txt
imagens_selecionadas_C43.txt
imagens_selecionadas_C44.txt
imagens_selecionadas_C80.txt
imagens_selecionadas_D22.txt
tcc-images.ipynb